<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LudoMix">

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainMenuActivity" />

        <!-- Mantener otras actividades originales si existen en el proyecto -->
        <activity android:name=".MenuActivity" tools:ignore="Unused" />
        <activity android:name=".GuessNumberActivity" tools:ignore="Unused" />
        <activity android:name=".RpsActivity" tools:ignore="Unused" />
        <activity android:name=".TicTacToeActivity" tools:ignore="Unused" />
        <activity android:name=".MemoryGameActivity" tools:ignore="Unused" />
        <activity android:name=".ModeSelectionActivity" tools:ignore="Unused" />
        <activity android:name=".GuessNumberDifficultyActivity" tools:ignore="Unused" />
        <activity android:name=".ScoresActivity" tools:ignore="Unused" />
        <activity android:name=".MemoryDifficultyActivity" tools:ignore="Unused" />
        <activity android:name=".TicTacToeDifficultyActivity" tools:ignore="Unused" />

    </application>

</manifest>